*{ box-sizing: border-box; }
/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/
header{
  text-align: center;
  background: url('http://widewallpaper.info/wp-content/uploads/2016/01/flat-wallpaper.png');
  background-size: cover;  
  color: white;
}

h1{
  font-size: 60px;
}
p {
  text-align: center;
  font-size: 20px;
}
img {
  margin: 40px 0px 0px 0px;
  border: 7px solid white;
  border-radius: 100%;
}
a {
  color: white;
}
ul{
  padding: 10px;
  background: rgba(0, 0, 0, 0.7);
} 
li {
  display: inline;
  padding: 0px 10px 0px 10px;
}
h2 {
  text-align: center;
}
#habilidades h3 {
  text-align: center;
}
#habilidades p {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}
#habilidades .box {
  display: inline-block;
  text-align: center;
  width: 33%;
  padding: 10px;
}
#proyectos{
  margin-right: 10px;
  text-align: center;
}
.blue-title {
  color: #006064;
  text-align: center;
}
.contenido-destacado {
  background-color: #006064;
  color: white;  
  padding: 20px;    
}
.contenido-destacado p {
  width: 95%; 
  margin-left: 30px; 
}
.fportada {
  width: 200px;
}
.social {
  text-align: center;
}
.social a {
  color: white;
  display: inline-block;
  background-color: #729e9b;
  border-radius: 50%;
  font-size: 24px;
  font-weight: bold;
  height: 50px;
  width: 50px;
  margin-right: 10px;
  line-height: 50px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}
.social a:hover {
  background-color: #8BC34A;
}
  
  
  .container {    
    width: 98%;
    margin: 20px;

  }

.box {
  margin-bottom: 30px;
}
.proyects-img{
  text-align: center;
  margin: 0 auto; 
  width: 100%;  
  border-radius: 0px;
}

@media(max-width: 600px) {
  h1 {
    font-size: 34px;
    }

    li {
      display: block;
      padding: 5px;
    }
    .contenido {
      max-width: 400px;
      text-align: center;
    }
    .social a {
      width: 40px;
      height: 40px;
      font-size: 16px;
    }
    .box {
      text-align: center;
      min-width: 90%;
      margin-left: 5%;
    }  
    .contenido-destacado p{
      width: 300px;
      text-align: center;      
      }
      #habilidades p{
        margin: 20px;
      }  
  }
